      
      <section class="articles">
          <header class="section">
            <h2>Latest Articles</h2>
          </header>
          <div class="content">
	          <ol>
	              <li><a href="/article/19209687"><span>Asil Nadir: City conman with 'dangerous charisma'</span></a></li>
	              <li><a href="/article/19161940"><span>How Asil Nadir stole Polly Peck's millions</span></a></li>              
	              <li><a href="/article/15206245"><span>Syrian troops 'kill Syrian farmer in Lebanon'</span></a></li>
	              <li><a href="/article/19414144"><span>Syrian rivals set for drawn-out conflict</span></a></li>
	              <li><a href="/article/19107575"><span>Jordan struggles with Syrian refugee influx</span></a></li>
	              <li><a href="/article/18606341"><span>Gunmen 'kill seven' at Syrian pro-Assad Ikhbariya TV</span></a></li>
	              <li><a href="/article/17277160"><span>Syrian government forces 'shell rebel-held towns'</span></a></li>
	          </ol>
	      </div>          
      </section>