<section class="people">
<header class="section">
<h2>People involved</h2>
</header>
<div class="content">
<ul>
  <li>
  <figure>
  <img src="/images/asilnadir.jpg" width="" height="" alt="" />
  <figcaption>Asil Nadir</figcaption>
  </figure>
  <article>
  <header class="article">
  <h3>Asil Nadir</h3>
  </header>
  <p>Turkish Cypriot businessman, who was chief executive of Polly Peck, which he took over as a small textile company, 
  growing it during the 1980s to become one of the United Kingdom's top 100 FTSE-listed companies.</p>
  <article>
  </li>
</ul>
</div>
</section>

