<section class="places">
<header class="section">
<h2>Places</h2>
</header>
<div class="content">
  <ul>
    <li>London</li>
  </ul>
  <div id="map"></div>
  <script src="/javascripts/polymaps.js"></script>
  <script type="text/javascript" src="/javascripts/simulated.js"></script> 
</div>
</section>

