<div class="container">
  <article>
  <header class="article">
  <h1>Fear and Hunger amid battle for Aleppo</h1>
  </header>
  <p><%= @content %></p>
  </article>

  <%= erb :'modules/_people' %>
  <%= erb :'modules/_places' %>

  <section>
  <header class="article">
  <h2>Events</h2>
  </header>
  </section>
</div>  


