    <div class="container" id="news-lab-events">
      <nav class="breadcrumb">
          <ol>
              <li><a href="/event/arab_spring">Arab spring</a></li>
          </ol>
      </nav>
      
      <article class="intro">
          <header class="section">
              <h1>Syria crisis</h1>
          </header>
          <figure id="main">
            <img src="/images/event/syria-crisis_320.jpg" width="320" height="186" alt="" data-fullsrc="syria-crisis_640" />
            <figcaption>Bombing in a Syrian city</a></figcaption>
          </figure>
          <p>Former fugitive tycoon Asil Nadir has been jailed for a total of 10 years for stealing 
          &pound;29m from his Polly Peck business empire 20 years ago.</p>

          <a href="#">
              <span class="cta">
                  <span class="icon live"><b>LIVE</b></span> Displaced civilians <time>1 hour ago</time>
              </span>
          </a> 
      </article>      
      
      <%= erb :'modules/_people' %>
      <%= erb :'modules/_places' %>
      
      <section class="articles">
          <header class="section">
            <h2>Latest Articles</h2>
          </header>
          <div class="content">
	          <ol>
	              <li><a href="/article/19209687">Asil Nadir: City conman with 'dangerous charisma'</a></li>
	              <li><a href="/article/19161940">How Asil Nadir stole Polly Peck's millions</a></li>              
	              <li><a href="/article/15206245">Syrian troops 'kill Syrian farmer in Lebanon' </a></li>
	              <li><a href="/article/19414144">Syrian rivals set for drawn-out conflict</a></li>
	              <li><a href="/article/19107575">Jordan struggles with Syrian refugee influx </a></li>
	              <li><a href="/article/18606341">Gunmen 'kill seven' at Syrian pro-Assad Ikhbariya TV </a></li>
	              <li><a href="/article/17277160">Syrian government forces 'shell rebel-held towns' </a></li>
	          </ol>
	      </div>          
      </section>
      
      <section class="timeline">
          <header class="section">
            <h2>Timeline</h2>
          </header>
          <div class="content">
              <h3>March 2011: Syrian Protests</h3>
              <figure>
                  <img src="/images/event/timeline-mockup.jpg" alt="" />
              </figure>
              <a href="#" class="cta">View detailed timeline</a>
          </div>          
      </section>     
    </div>


