    <div class="container">
      <nav>
          <ol>
              <li><a href="/event/arab_spring">Arab spring</a></li>
          </ol>
      </nav>
      
      <section>
          <header class="section">
              <h2>Introduction</h2>
          </header>
          <p>Former fugitive tycoon Asil Nadir has been jailed for a total of 10 years for stealing 
          &pound;29m from his Polly Peck business empire 20 years ago.</p>
      </section>
      
      <%= erb :'modules/_people' %>
      <%= erb :'modules/_places' %>
      
      <section>
          <header class="section">
            <h2>Latest articles</h2>
          </header>
          <ol>
              <li><a href="/article/19209687">Asil Nadir: City conman with 'dangerous charisma'</a></li>
              <li><a href="/article/19161940"> How Asil Nadir stole Polly Peck's millions</a></li>
          </ol>          
      </section>
      
      <section>
          <header class="section">
            <h2>Timeline</h2>
          </header>
      </section>
      
      <section>
          <header class="section">
            <h2>Picture gallery</h2>
          </header>
      </section>
      
    </div>


