    <div class="container" id="news-lab-events">
      <nav class="breadcrumb">
          <ol>
              <li><a href="/event/arab_spring">Arab spring</a></li>
          </ol>
      </nav>
      
      <img src="/images/event/syria-crisis.jpg" width="320" height="186" alt="" />
      
      <h1>Syria crisis</h1>
      
      <section class="intro">
          <header class="section">
              <h2>Introduction</h2>
          </header>
          <p>Former fugitive tycoon Asil Nadir has been jailed for a total of 10 years for stealing 
          &pound;29m from his Polly Peck business empire 20 years ago.</p>
      </section>
      
      <%= erb :'modules/_people' %>
      <%= erb :'modules/_places' %>
      
      <section class="articles open">
          <header class="section">
            <h2>Latest articles</h2>
          </header>
          <ol>
              <li><a href="/article/19209687">Asil Nadir: City conman with 'dangerous charisma'</a></li>
              <li><a href="/article/19161940"> How Asil Nadir stole Polly Peck's millions</a></li>
          </ol>          
      </section>
      
      <section class="timeline open">
          <header class="section">
            <h2>Timeline</h2>
          </header>
          <img src="/images/event/timeline-mockup.jpg" alt="" />
      </section>
      
      <section class="picture-gallery closed">
          <header class="section">
            <h2>Picture gallery</h2>
          </header>
      </section>      
    </div>


