    <div class="container">
      <article>
      <header class="article">
        <h1>Article Title</h1>
      </header>

      <p><%= @content %></p>

      <section class="sub">
        <h2>People</h2>
        <p>Lorem ipsum ...</p>
      </section>

      <section class="sub">
        <h2>Places</h2>
        <p>Lorem ipsum ...</p>
      </section>

      </article>
      
      <section>
      <header class="section">
        <h2>People</h2>
      </header>
      </section>
      
      <section>
      <header class="article">
        <h2>Places</h2>
      </header>
      </section>
    
      <section>
      <header class="article">
        <h2>Events</h2>
      </header>
      </section>
    </div>  

