<!doctype html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>BBC <%=@domain[:display_name] %> - Events</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/events-core.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/media-queries-temp.css">    
    <script type="text/javascript" data-main="/javascripts/main" src="/javascripts/require-jquery.js"></script>    
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  </head>


  <body class="<%= @domain[:body_class] %>">

    <header class="banner" role="banner">
    <div id="global-header">
      <a href="http://www.bbc.co.uk">
        <img src="/images/bbc_blocks.png" width="84" height="24" alt="British Broadcasting Corporation" />
      </a>
    </div>
    <div id="events-header">
      <h1>
        <a href="http://www.bbc.co.uk/news"><%= @domain[:display_name] %></a>
      </h1>
    </div>
    </header>    
    
    <% if @domain[:id] == "news" %>
    <div class="container" id="news-labs-tabs">
      <div id="tab-wrapper" class="outer solid">
        <div id="index-tabs" class="tabs">
          <ul>
            <li class="tab-1">
            <a href="#">Top Stories</a>
            </li>
            <li class="tab-2">
            <a href="#">Most Read</a>
            </li>
            <li class="tab-3 open">
            <a href="/">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>    
    <% end %>

    <%= yield %>

    <footer>
    <div id="footer-content">
      <p>BBC &copy; 2012</p>
    </div>
    </footer>

  </body>
</html> 
