<div class="container" id="news-lab-events">
  <nav class="breadcrumb">
  <ol>
    <li><a href="/">Events</a></li>
  </ol>
  </nav>

  <article class="intro">
  <header class="section">
  <h1>This is an event title</h1>
  </header>
  <figure id="main">
  <img src="/images/event/event-placeholder.jpeg" alt="Event placeholder"/>
  <figcaption>Bombing in a Syrian city</a></figcaption>
</figure>
<p id="event-description"></p>
</article>      

<div class="secondary-modules">  
  <section class="people">
  <header class="section">
  <h2>People &amp; Organisations</h2>
  </header>
  <div class="content">
    <ul>

      <li>
      <article>
      <header class="article">
      <h3>A person's name</h3>
      </header>
      <div class="figure">
        <figure>
        <img src="/images/event/lakhdar-brahimi.jpg" alt="A name" />
        <figcaption>A name</a></figcaption>
      </figure>
      <a href="http://www.bbc.co.uk/news/10338256" title="Profile of someone" class="profile">Profile</a>
    </div>
    <ul class="info">
      <li><b>Name:</b> <span class="name">Someone</span></li>
      <li><b>Description:</b> A description of someone</li>
    </ul>       

    <!-- List of articles in the context of a person -->
    <section class="articles">
    <header class="section">
    <h2>Latest Articles</h2>
    </header>
    <div class="content">
      <ol>
        <li><a href="#"><span>Article title</span></a></li>
        <li><a href="#"><span>Article title</span></a></li>
        <li><a href="#"><span>Article title</span></a></li>
        <li><a href="#"><span>Article title</span></a></li>
      </ol>
    </div>          
    </section>
    </article>      
    </li>

  </ul>
</div>
</section>
<!-- Places -->

<section class="places">
<header class="section">
<h2>Places</h2>
</header>
<div class="content">
  <div id='map' style="width: 100%; height: 300px;">
    <ul>
      <li><a href="#">Place name</a>: place.lat,place.long</li>
    </ul>
  </div>

  <script type="text/javascript">
    var dummyListElement = '<li><a href="#">Article title</a>: Article description</li>';
    var locations = [      
    ['<h3>Related articles for <strong>PLACE NAME</strong></h3><ul>'+dummyListElement + dummyListElement+'</ul>','', ''],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(20.00, -10.00),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }      

  </script>
</div>
</section>


      </div>      
      <!-- Timeline -->
      <section class="timeline">
      <header class="section">
      <h2>Timeline</h2>
      </header>
      <div class="content">          
        <div class="timeline-mockup"></div>
      </div>          
      </section>
    </div>


