<div class="europe  has-no-ticker ">
<div id="header-wrapper">
	<h2 id="header">
		<a rel="index" href="http://www.bbc.co.uk/news/"><img alt="BBC News" src="./BBC News - Syrian plane had illegal cargo, says Turkey's Davutoglu_files/news-blocks.gif"></a>
		<span class="section-title">Europe</span>
	</h2>
	
	<div id="blq-local-nav">
    	<ul id="nav" class="nav">
    		<li class="first-child "><a href="http://www.bbc.co.uk/news/">Home</a></li>
    		<li class="selected"><a href="http://www.bbc.co.uk/news/world/">World</a></li>
    		<li><a href="http://www.bbc.co.uk/news/uk/">UK</a></li>
    		<li><a href="http://www.bbc.co.uk/news/england/">England</a></li>
    		<li><a href="http://www.bbc.co.uk/news/northern_ireland/">N. Ireland</a></li>
    		<li><a href="http://www.bbc.co.uk/news/scotland/">Scotland</a></li>
    		<li><a href="http://www.bbc.co.uk/news/wales/">Wales</a></li>
    		<li><a href="http://www.bbc.co.uk/news/business/">Business</a></li>
    		<li><a href="http://www.bbc.co.uk/news/politics/">Politics</a></li>
    		<li><a href="http://www.bbc.co.uk/news/health/">Health</a></li>
    		<li><a href="http://www.bbc.co.uk/news/education/">Education</a></li>
    		<li><a href="http://www.bbc.co.uk/news/science_and_environment/">Sci/Environment</a></li>
    		<li><a href="http://www.bbc.co.uk/news/technology/">Technology</a></li>
    		<li><a href="http://www.bbc.co.uk/news/entertainment_and_arts/">Entertainment &amp; Arts</a></li>
    	</ul>
    	
    	<ul id="sub-nav" class="nav"> 
    		<li class="first-child "><a href="http://www.bbc.co.uk/news/world/africa/">Africa</a></li>
    		<li><a href="http://www.bbc.co.uk/news/world/asia/">Asia</a></li>
    		<li class="selected"><a href="http://www.bbc.co.uk/news/world/europe/">Europe</a></li>
    		<li><a href="http://www.bbc.co.uk/news/world/latin_america/">Latin America</a></li>
    		<li><a href="http://www.bbc.co.uk/news/world/middle_east/">Middle East</a></li>
    		<li><a href="http://www.bbc.co.uk/news/world/us_and_canada/">US &amp; Canada</a></li>
    	</ul>
    </div>			  			  
    
    <div id="content-wrapper" class="domestic">
    	<div id="main-content" class="story blq-clearfix">
    		<div class="layout-block-a">
    			<div class="story-body">
    				<span class="story-date">
    				<span class="date">11 October 2012</span><span class="time-text">Last updated at </span><span class="time">14:40</span></span>
		
					<h1 class="story-header">Syrian plane had illegal cargo, says Turkey's Davutoglu</h1>
					<!--  Embedding the video player -->
					<!--  This is the embedded player component -->
					<!-- wwrights check -->
					<!-- Empty country is used on test environment -->
					<div class="videoInStoryB">
					    <div id="emp-19905573-49629" class="emp page-bookmark-link-aware" style="position: relative; cursor: pointer; height: 252px; ">
					    	<img src="/images/articles/_63427264_plane.jpg" width="448" height="252"><a title="Click to play" style="background-color: rgb(0, 0, 0); opacity: 0.75; width: 80px; height: 80px; display: block; position: absolute; left: 0px; top: 50%; margin-top: -40px; "></a><a title="Click to play" style="background-color: rgb(255, 0, 0); opacity: 0; width: 80px; height: 80px; display: block; position: absolute; left: 0px; top: 50%; margin-top: -40px; "></a>
					    	<div style="background-image: url(http://emp.bbci.co.uk/emp/releases/worldwide/revisions/749603_749269_749444_6/cta_play.png); width: 27px; height: 36px; display: block; position: absolute; top: 50%; left: 26px; margin-top: -18px; "></div>
					    </div>
			            <!-- companion banner -->
			            <!-- END - companion banner -->
			            <!-- caption -->
			            <p class="caption">The BBC's James Reynolds said Turkish officials believed the passenger plane may have been carrying non-civilian cargo</p>
			            <!-- END - caption -->										
					</div>
					<!-- end of the embedded player component -->										
					<!-- Player embedded --><div class="embedded-hyper">
					<a class="hidden" href="http://www.bbc.co.uk/news/world-europe-19906578#story_continues_1">Continue reading the main story</a>
					<div class="hyperpuff">
						<!-- Non specific version -->
						<h2><a href="http://www.bbc.co.uk/news/world-middle-east-17258397">Syria conflict</a></h2>
						<ul>
							<li><a class="story" rel="published-1349733355231" href="http://www.bbc.co.uk/news/world-middle-east-19875393">No-man's land</a></li>
							<li><a class="story" rel="published-1349380281808" href="http://www.bbc.co.uk/news/world-europe-19837502">Turkey-Syria tensions</a></li>
							<li><a class="story" rel="published-1348483533158" href="http://www.bbc.co.uk/news/world-middle-east-19699446">Assad heartland</a></li>
							<li><a class="story" rel="published-1347854407479" href="http://www.bbc.co.uk/news/world-middle-east-19618777">Bombed from above</a></li>
						</ul>
					</div>
				</div>
				
				<p class="introduction" id="story_continues_1">Turkey has said a Syria-bound passenger plane which it forced to land in Ankara was carrying "illegal cargo".</p>
				<p>The Syrian Air plane was intercepted by Turkey and searched over suspicions it was carrying military equipment.</p>
				<p>But officials in Russia and Syria strongly denied the allegations and accused the Turkish authorities of endangering passengers and crew.</p>
				<p>Tension between Turkey and Syria has been high since five Turkish civilians were killed last week by mortar bombs.</p>
				<p>In response, Turkey fired into Syria for the first time since the uprising against President Bashar al-Assad began last year.</p>
				<span class="cross-head">'Air piracy'</span>
				<p>Turkey's Foreign Minister Ahmet Davutoglu said "objectionable" cargo had been confiscated from the plane.</p>
				<p>"There is illegal cargo on the plane that should have been reported," he told the Anatolia news agency.</p>
				<div class="story-feature wide ">
					<a class="hidden" href="http://www.bbc.co.uk/news/world-europe-19906578#story_continues_2">Continue reading the main story</a>
					<h2>Analysis</h2>
					<!-- pullout-items-->
					<div class="byline">
						<span class="byline-picture"><img src="/images/articles/_63296518_63296515.jpg" alt="image of Jonathan Marcus"></span>
						<span class="byline-name">Jonathan Marcus</span>
					<span class="byline-title">BBC defence and diplomatic correspondent</span>
					<hr>
				</div>
				<!-- pullout-body-->
				<p>A Syrian airliner forced to land in Turkey, accusations of "piracy" from the Syrians, and press reports in Turkey of the military being placed on heightened alert. It all adds up to a worsening of the escalating crisis between Ankara and Damascus.</p>
				<p>This comes after a week of sporadic shelling, with Turkish gunners responding to what appear to be stray Syrian shells that have crossed the border and worsening rhetoric flying between the two capitals. </p>
				<p>Turkey, of course, is acting to enforce the arms embargo it imposed against Syria. In the past, Turkish officials have searched the holds of merchant ships and seized items from an Iranian cargo plane. But it is the context here that is different. The crisis between Turkey and Syria is deepening. Any miscalculation by either side could have serious consequences.</p>
				<!-- pullout-links-->
			</div>
			<p id="story_continues_2">He did not specify whether any weapons had been found, but unconfirmed reports in Turkish media said the seized items included boxes of military communication equipment.</p>
			<p>The foreign minister said Turkey, which imposed an arms embargo on Syria last year, would continue to investigate Syrian passenger planes flying over its air space.</p>
			<p>Both Syria and Russia reacted angrily to the plane's enforced diversion.</p>
			<p>Syrian Transport Minister Mahmoud Saeed accused Turkey of carrying out "air piracy" and breaking civil aviation agreements, according to Lebanon's al-Manar TV.</p>
			<p>Gaida Abdul Latif, boss of Syrian Air, accused Turkey of endangering her passengers and crew.</p>
			<p>"Turkish military aircraft forced the plane to land without giving prior warning to the pilot. The military aircraft were so close that there could have been an accident," she said.</p>
			<span class="cross-head">'Spare parts'</span>
			<p>Russian Foreign Ministry spokesman Alexander Lukashevich said Turkish officials had failed to inform the embassy that 17 Russian citizens were on board the plane.</p>
			<p>"We are concerned that, in this emergency situation, the lives and safety of the passengers, including 17 Russian nationals, were put at risk," he said.</p>
			<p>Russia's state arms supplier Rosoboronexport said in a statement it had no information about the plane's cargo, and denied it had any connection with the flight or anything on board.</p>
			<p>Earlier, Mr Davutoglu had said Ankara was determined to stop any transfer of weapons to Syria through its airspace.</p>
			<p>He said Ankara had received information that the Damascus-bound plane could be carrying "non-civilian cargo".</p>
			<p>The Airbus A320 airliner had about 30 passengers on board, far fewer than its 180 passenger capacity.</p>
			<p>The aircraft was escorted by two Turkish fighters to the capital's Esenboga airport for security checks.</p>
			<p>It was allowed to take off at 02:30 (23:30 GMT on Wednesday), after several hours on the ground. </p>
			<p>One passenger, Fatima el-Saman, told Turkish newspaper Hurriyet that there were no weapons on the plane.</p>
			<p>"They were spare parts exported to Syria by a Russian businessman, as far as I could see," she said.</p>
			<p>In another sign of deteriorating relations, Turkish officials revealed on Thursday that Syria had stopped buying electricity from its neighbour last week.</p>
			<div class="comment-introduction">
				<p class="introduction">Were you on the plane? Send us your accounts using the form below.</p>
			</div>
		</div>
		<div>
		
		<!--Related hypers and stories -->
			<div class="story-related">
				<h2>More on This Story</h2>
				<div class="hyperpuff">
					<div class="hyper-container-title">
						<h3 class="hyper-depth-header"><a href="http://www.bbc.co.uk/news/world-middle-east-17258397" class="special-report">Syria conflict</a></h3>
						<!-- Non specific version -->
						<div id="group-title-1" class="hyper-related-assets">
							<h4 class="hyper-depth-stories-header">Features and analysis</h4>
							<ul>
								<li class=" medium-image first-child">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1349733355231" href="http://www.bbc.co.uk/news/world-middle-east-19875393"><img src="/images/articles/_63371769_aleppo_ap.jpg" alt="Syrian men walk at a street between destroyed buildings in Aleppo">No-man's land</a></h5>
									<p>Whichever side they support, Syrian civilians bear the brunt of a conflict that no-one seems capable of stopping, says the BBC's Ian Pannell.</p>
									<hr>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1349380281808" href="http://www.bbc.co.uk/news/world-europe-19837502">Turkey-Syria tensions</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1348483533158" href="http://www.bbc.co.uk/news/world-middle-east-19699446">Assad heartland</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1347854407479" href="http://www.bbc.co.uk/news/world-middle-east-19618777">Bombed from above</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346330623016" href="http://www.bbc.co.uk/news/world-middle-east-19331551">Guide to conflict</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1348102429899" href="http://www.bbc.co.uk/news/world-middle-east-19657762">School in a time of war</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1347373563015" href="http://www.bbc.co.uk/news/world-middle-east-19554875">Family's lasting scars</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1348796863471" href="http://www.bbc.co.uk/news/world-middle-east-19753795">Turkey seeks action</a></h5>
								</li>
								<li class="column-1 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346927949565" href="http://www.bbc.co.uk/news/world-middle-east-19500164">Voices from Jordanian camp</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346921525258" href="http://www.bbc.co.uk/news/world-middle-east-19493780">Desperate plight of civilians</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346717137174" href="http://www.bbc.co.uk/news/magazine-19468300">War in watercolour</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346681534562" href="http://www.bbc.co.uk/news/world-middle-east-19467160">Lakhdar Brahimi: 'No illusions'</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346485046244" href="http://www.bbc.co.uk/news/world-middle-east-19425458">Alawites stand firm</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346284944528" href="http://www.bbc.co.uk/news/world-middle-east-19414144">Syria's tug-of-war</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1345941170935" href="http://www.bbc.co.uk/news/world-middle-east-19368439">'Better than before'</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346097202143" href="http://www.bbc.co.uk/news/world-middle-east-19391466">Darayya deaths shock Syrians</a></h5>
								</li>
								<li class="column-2 ">
									<h5 class=" hyper-story-header"><a class="story" rel="published-1346068799085" href="http://www.bbc.co.uk/news/world-middle-east-19347555">'Forced confession'</a></h5>
								</li>
							</ul>
						</div>
						<script type="text/javascript">
							//$render("hyper-related-assets","group-title-1");
						</script>
						<!-- Non specific version -->
						<div id="group-title-2" class="hyper-related-assets">
							<h4 class="hyper-depth-stories-header">Profiles</h4>
								<ul>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1303939937579" href="http://www.bbc.co.uk/news/world-middle-east-13216195">President's inner circle</a></h5>
									</li>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1276764751862" href="http://www.bbc.co.uk/news/10338256">Bashar al-Assad</a></h5>
									</li>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1337251683450" href="http://www.bbc.co.uk/news/world-middle-east-18084964">Who are the Alawites?</a></h5>
									</li>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1321736405168" href="http://www.bbc.co.uk/news/world-middle-east-15798218">Guide to the Syrian opposition</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1341844253078" href="http://www.bbc.co.uk/news/world-middle-east-18582755">Profile: Syria's Baath Party</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1343055072502" href="http://www.bbc.co.uk/news/world-middle-east-18957096">Profile: Aleppo</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1335541695914" href="http://www.bbc.co.uk/news/world-middle-east-17868325">Profile: Hama</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" rel="published-1304146216353" href="http://www.bbc.co.uk/news/world-middle-east-13247375">Ruling family dynamics</a></h5>
									</li>
								</ul>
							</div>
							<script type="text/javascript">
								//$render("hyper-related-assets","group-title-2");
							</script>
							<!-- Non specific version -->
							<div id="group-title-3" class="hyper-related-assets">
								<h4 class="hyper-depth-stories-header">Around the web</h4>
								<ul>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" href="http://www.bbc.co.uk/arabic/">BBC Arabic website</a></h5>
									</li>
									<li class="column-1 ">
										<h5 class=" hyper-story-header"><a class="story" href="https://www.facebook.com/Syrian.Revolution">Revolution 2011 on Facebook</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" href="http://www.sana.sy/index_eng.html">Syrian state news agency Sana</a></h5>
									</li>
									<li class="column-2 ">
										<h5 class=" hyper-story-header"><a class="story" href="http://www.syriahr.com/">Human Rights Observatory (Arabic)</a></h5>
									</li>
								</ul>
							</div>
							<script type="text/javascript">
								//$render("hyper-related-assets","group-title-3");
							</script>
							</div>
						</div>
						<!-- Newstracker -->
						<div class="puffbox">
						<!-- newstracker puffbox news 19906578 -->








<div class="newstracker-list">
<h3>From other news sites</h3>
<ul>


  
  
  
  	<li>
  
  
    <h4><strong>International Business Times UK </strong><a href="http://c.moreover.com/click/here.pl?z7372773464&z=1600249365"> Russia Denies Weapons Onboard Moscow To Syria Passenger Flight </a><span>52 mins ago</span></h4>
  
  </li>

  
  
  
  	<li class="even">
  
  
    <h4><strong>Sky News </strong><a href="http://c.moreover.com/click/here.pl?z7372022798&z=1600249594"> Putin Postpones Turkey Trip Amid Syria Tensions </a><span>2 hrs ago</span></h4>
  
  </li>

  
  
  
  	<li>
  
  
    <h4><strong>Huffington Post UK </strong><a href="http://c.moreover.com/click/here.pl?z7371887852&z=1600249594"> Syrian Plane Carrying 'Illegal Cargo' Through Turkish Airspace </a><span>2 hrs ago</span></h4>
  
  </li>

  
  
  
  	<li class="even">
  
  
    <h4><strong>Sympatico </strong><a href="http://c.moreover.com/click/here.pl?z7371667903&z=1650248863"> Russia says Turkey endangered lives by grounding plane </a><span>3 hrs ago</span></h4>
  
  </li>

  
  
  
  	<li>
  
  
    <h4><strong>Channel 4 </strong><a href="http://c.moreover.com/click/here.pl?z7371178462&z=1600249594"> Syria accuses Turkey of 'air piracy' over forced landing </a><span>5 hrs ago</span></h4>
  
  </li>

<li class="about">
<a href="http://www.bbc.co.uk/news/10621663">About these results</a>
</li>
</ul>

</div>






</div>
<!-- Newstracker - End -->
<script type="text/javascript">$render("page-newstracker","ID");</script> 

	</div>
<script type="text/javascript">$render("page-related-items","ID");</script>

  </div>

      
  <div class="share-body-bottom">
	<div id="page-bookmark-links-foot" class="share-help">
  <h3>Share this page</h3><div id="bottom-share-toolbar" class="bbc-st bbc-st-slim bbc-st-colour bbc-st-dark bbc-st-force-flash-hide bbc-st-disable-facebook-panel" style="font-size: 0.7692307692307693em; display: block; "><p class="bbc-st-basic"><a href="http://www.bbc.co.uk/modules/sharetools/share?url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fworld-europe-19906578&title=BBC%20News%20-%20Syrian%20plane%20had%20illegal%20cargo%2C%20says%20Turkey's%20Davutoglu&appId=news&facebook-message=">Share this page</a></p><div class="bbc-st-wrapper bbc-st-rst bbc-st-v1"><div class="bbc-st-count"><span title="This page has been shared 1167 times">1.1K</span></div><ul class="bbc-st-buttons"><li class="bbc-st-share-cta"><a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page to other places">Share</a></li><li class="bbc-st-facebook-cta"><a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Facebook">Facebook</a></li><li class="bbc-st-twitter-cta"><a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Twitter">Twitter</a></li></ul></div></div>
  <ul>  	
    
    
    
    
    
    
    <li class="email">
      <a title="Email this story" href="http://newsvote.bbc.co.uk/mpapps/pagetools/email/www.bbc.co.uk/news/world-europe-19906578">Email</a>
    </li>
    <li class="print">
      <a title="Print this story" href="http://www.bbc.co.uk/news/world-europe-19906578?print=true">Print</a>
    </li>
  </ul>
<!--  Social media icons by Paul Annet | http://nicepaul.com/icons  -->
  
</div>
<script type="text/javascript"> 
<!--
$render("page-bookmark-links","page-bookmark-links-foot",{
    useForgeShareTools:"true",
    position:"bottom",
    site:'News', 
    headline:'BBC News - Syrian plane had illegal cargo, says Turkey\'s Davutoglu', 
    storyId:'19906578', 
    sectionId:'99123', 
    url:'http://www.bbc.co.uk/news/world-europe-19906578', 
    edition:'Domestic'
}); 
-->
</script>

 </div>
 
   
      	
	
        <!-- other stories from this section include -->
        

<div class="top-index-stories">
	<h2 class="top-index-stories-header"><a href="http://www.bbc.co.uk/news/world/europe/">More Europe stories</a></h2>
        <a href="http://feeds.bbci.co.uk/news/world/europe/rss.xml" class="rss">RSS</a>	
		

	
						
			<!-- Non specific version -->
			
	<ul>
		
						
												
		<li class="first-child medium-image">
			




	


		




<h3>
	<a class="story" rel="published-1349963167240" href="http://www.bbc.co.uk/news/world-europe-19912532"><img src="/images/articles/_63434536_63427274.jpg" alt="People gather atop the aircraft steps at a Syrian passenger plane that was forced by Turkish jets to land at Esenboga airport in Ankara, Turkey, October 10">Plane interception angers Russia</a>

		</h3>

															
							<p>Moscow accuses Turkey of endangering Russian lives by using its military to force a Syria-bound passenger plane to land in Ankara.</p>
					</li>
		
		
						
						
		<li class="column-1">
			




	


	




<h3>
	<a class="story" rel="published-1349925829888" href="http://www.bbc.co.uk/news/world-africa-19905694">Shell in court over Nigeria spill</a>

		</h3>

															
					</li>
		
		
						
						
		<li class="column-2">
			




	


	




<h3>
	<a class="story" rel="published-1349943282092" href="http://www.bbc.co.uk/news/world-europe-19907272">Five French terror suspects freed</a>

		</h3>

															
					</li>
		
		</ul>

	 

</div>

 
</div><!-- / layout-block-a -->

<div class="layout-block-b">	
			




		     <div class="hyperpuff">
	       	         
	       	         



<div id="range-top-stories" class="top-stories-range-module">

			<h2 class="top-stories-range-module-header">Top Stories</h2>
		
		
									
				<!-- Non specific version -->
				
	<ul>
					  				  								
				




	


		




<li class=" first-child medium-image">
	<a class="story" rel="published-1349963167240" href="http://www.bbc.co.uk/news/world-europe-19912532"><img src="/images/articles/_63434536_63427274.jpg" alt="People gather atop the aircraft steps at a Syrian passenger plane that was forced by Turkish jets to land at Esenboga airport in Ankara, Turkey, October 10">Plane interception angers Russia<span class="new-story-icon"> New</span></a>

		</li>

									 			




	


	




<li>
	<a class="story" rel="published-1349938296934" href="http://www.bbc.co.uk/news/uk-england-leeds-19906695">Probe into Savile hospital claims</a>

		</li>

  									 			




	


	




<li>
	<a class="story" rel="published-1349962652610" href="http://www.bbc.co.uk/news/uk-19913000">£50m allocated for WWI centenary<span class="new-story-icon"> New</span></a>

		</li>

  									 			




	


	




<li>
	<a class="story" rel="published-1349951210822" href="http://www.bbc.co.uk/news/uk-19906595">UK called for Abu Qatada pardon</a>

		</li>

  									 			




	


	




<li>
	<a class="story" rel="published-1349950825075" href="http://www.bbc.co.uk/news/uk-england-19910377">Acid douse death 'preventable'</a>

		</li>

  						</ul>

		 
	
</div>
<script type="text/javascript">$render("range-top-stories","range-top-stories");</script>
      	

	       	         
	       	         

	<div id="features" class="feature-generic">

			<h2 class="features-header">Features &amp; Analysis</h2>
		
	<ul class="feature-main">

		
	
						
			<!-- Non specific version -->
			
			
							
		<li class="medium-image">

			




	


		




<h3 class=" feature-header">
	<a class="story" rel="published-1349954804442" href="http://www.bbc.co.uk/sport/0/cycling/19907683"><img src="/images/articles/_63422266_armstrong.jpg" alt="Lance Armstrong">Fallen hero</a>

		</h3>

			
							<p>How cycling's Lance Armstrong's reputation lies in tatters 		  <a class="from-external-source" href="http://www.bbc.co.uk/sport/0/">BBC Sport</a>
	
				  <span id="dna-comment-count___CPS__19907683" class="gvl3-icon gvl3-icon-comment comment-count"></span></p>
			
							<hr>
					</li>
			
							
		<li class="medium-image">

			




	


		




<h3 class=" feature-header">
	<a class="story" rel="published-1349947211036" href="http://www.bbc.co.uk/news/magazine-19815457"><img src="/images/articles/_63417334_monsterstatuedrumnadrochit_getty.jpg" alt="Model of Loch Ness monster">Murky mystery</a>

		</h3>

			
							<p>Why can’t people stop searching for the Loch Ness Monster? 	
				  <span id="dna-comment-count___CPS__19815457" class="gvl3-icon gvl3-icon-comment comment-count"></span></p>
			
							<hr>
					</li>
			
							
		<li class="medium-image">

			




	


		




<h3 class=" feature-header">
	<a class="story" rel="published-1349933624854" href="http://www.bbc.co.uk/news/uk-19712683"><img src="/images/articles/_63422320_wallerwaltonpa.jpg" alt="Photographs of the 26 Britons who were killed">Survivors' tales</a>

		</h3>

			
							<p>Britons recall the Bali bombings - 10 years on 	
				  <span id="dna-comment-count___CPS__19712683" class="gvl3-icon gvl3-icon-comment comment-count"></span></p>
			
							<hr>
					</li>
			
							
		<li class="medium-image">

			




	


		




<h3 class=" feature-header">
	<a class="story" rel="published-1349931480990" href="http://www.bbc.co.uk/news/magazine-19881905"><img src="/images/articles/_63402061_147930243.jpg" alt="Masked nationalists v gay rights activists in Kiev">Ban plan</a>

		</h3>

			
							<p>A country moves to outlaw gay pride and Brokeback Mountain 	
				  <span id="dna-comment-count___CPS__19881905" class="gvl3-icon gvl3-icon-comment comment-count"></span></p>
			
							<hr>
					</li>
	
	 
	
	
	</ul>
	</div>
	<script type="text/javascript">$render("feature-generic","features");</script> 


	       	         
<div id="most-popular" class="livestats livestats-tabbed tabbed range-most-popular ">
	
			<h2 class="livestats-header">Most Popular</h2>
	
					
					<h3 class="tab "><a href="http://www.bbc.co.uk/news/world-europe-19906578#">Shared</a></h3>
		
		<div class="panel ">
      		<ol>
	      		<li class="first-child ol1">
  <a href="http://www.bbc.co.uk/news/uk-england-london-19858746" class="story">
    <span class="livestats-icon livestats-1">1: </span>Rebel sticker craze on the Tube</a>
</li>
<li class="ol2">
  <a href="http://www.bbc.co.uk/news/uk-wales-south-west-wales-19906942" class="story">
    <span class="livestats-icon livestats-2">2: </span>Child given whiskey at restaurant</a>
</li>
<li class="ol3">
  <a href="http://www.bbc.co.uk/news/magazine-19899540" class="story">
    <span class="livestats-icon livestats-3">3: </span>Malala Yousafzai: Portrait of the girl blogger </a>
</li>
<li class="ol4">
  <a href="http://www.bbc.co.uk/news/science-environment-19898947" class="story">
    <span class="livestats-icon livestats-4">4: </span>'Musical' mice learn new songs </a>
</li>
<li class="ol5">
  <a href="http://www.bbc.co.uk/news/technology-19909106" class="story">
    <span class="livestats-icon livestats-5">5: </span>Security fear sees Firefox pulled</a>
</li>
      		</ol>
      	</div>
							
					<h3 class="tab open"><a href="http://www.bbc.co.uk/news/world-europe-19906578#">Read</a></h3>
		
		<div class="panel open">
      		<ol>
	      		<li class="first-child ol1">
  <a href="http://www.bbc.co.uk/news/uk-wales-south-west-wales-19906942" class="story">
    <span class="livestats-icon livestats-1">1: </span>Child given whiskey at restaurant</a>
</li>
<li class="ol2">
  <a href="http://www.bbc.co.uk/news/uk-19913000" class="story">
    <span class="livestats-icon livestats-2">2: </span>£50m allocated for WWI centenary</a>
</li>
<li class="ol3">
  <a href="http://www.bbc.co.uk/news/world-europe-19912532" class="story">
    <span class="livestats-icon livestats-3">3: </span>Plane interception angers Russia</a>
</li>
<li class="ol4">
  <a href="http://www.bbc.co.uk/news/technology-19909106" class="story">
    <span class="livestats-icon livestats-4">4: </span>Security fear sees Firefox pulled</a>
</li>
<li class="ol5">
  <a href="http://www.bbc.co.uk/news/business-19912951" class="story">
    <span class="livestats-icon livestats-5">5: </span>British Gas to raise its prices</a>
</li>
<li class="ol6">
  <a href="http://www.bbc.co.uk/news/uk-england-leeds-19906695" class="story">
    <span class="livestats-icon livestats-6">6: </span>Hospital complaints over Savile</a>
</li>
<li class="ol7">
  <a href="http://www.bbc.co.uk/news/uk-england-19910377" class="story">
    <span class="livestats-icon livestats-7">7: </span>Acid douse death 'preventable'</a>
</li>
<li class="ol8">
  <a href="http://www.bbc.co.uk/news/uk-england-manchester-19911943" class="story">
    <span class="livestats-icon livestats-8">8: </span>Man jailed over PC deaths T-shirt</a>
</li>
<li class="ol9">
  <a href="http://www.bbc.co.uk/news/uk-england-cumbria-19906704" class="story">
    <span class="livestats-icon livestats-9">9: </span>Pilot 'broke night flight rules'</a>
</li>
<li class="ol10">
  <a href="http://www.bbc.co.uk/news/uk-scotland-19905357" class="story">
    <span class="livestats-icon livestats-10">10: </span>Drivers warned of torrential rain</a>
</li>
      		</ol>
      	</div>
					
					<h3 class="tab "><a href="http://www.bbc.co.uk/news/world-europe-19906578#">Video/Audio</a></h3>
		
		<div class="panel ">
      		<ol>
	      		<li class="first-child has-icon-watch ol1">
  <a href="http://www.bbc.co.uk/today/hi/today/newsid_9759000/9759000.stm" class="story">
    <span class="livestats-icon livestats-1">1: </span>McLaren £49m 'cheat' fine is tax deductible<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol2">
  <a href="http://www.bbc.co.uk/news/video_and_audio/" class="story">
    <span class="livestats-icon livestats-2">2: </span>BBC News Channel<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol3">
  <a href="http://www.bbc.co.uk/news/uk-england-leeds-19905006" class="story">
    <span class="livestats-icon livestats-3">3: </span>Woman 'saw Savile abuse patient'<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol4">
  <a href="http://www.bbc.co.uk/1/hi/programmes/fast_track/9757992.stm" class="story">
    <span class="livestats-icon livestats-4">4: </span>Riding the matatu - Nairobi's subway<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol5">
  <a href="http://www.bbc.co.uk/news/uk-england-london-19895637" class="story">
    <span class="livestats-icon livestats-5">5: </span>Guerrilla stickers appear on Tube<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol6">
  <a href="http://www.bbc.co.uk/news/entertainment-arts-19904902" class="story">
    <span class="livestats-icon livestats-6">6: </span>Singer Brightman to fly into space<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol7">
  <a href="http://www.bbc.co.uk/news/world-middle-east-19905573" class="story">
    <span class="livestats-icon livestats-7">7: </span>Syrian plane forced to land in Turkey<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol8">
  <a href="http://www.bbc.co.uk/news/world-19908396" class="story">
    <span class="livestats-icon livestats-8">8: </span>Armstrong lawyer: It is a farce<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol9">
  <a href="http://www.bbc.co.uk/news/magazine-17554106" class="story">
    <span class="livestats-icon livestats-9">9: </span>Keeping up with the sports cheats<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
<li class="has-icon-watch ol10">
  <a href="http://www.bbc.co.uk/1/hi/programmes/hardtalk/9758790.stm" class="story">
    <span class="livestats-icon livestats-10">10: </span>Ryanair boss: Fuel risk claims are lies<span class="gvl3-icon gvl3-icon-watch"> Watch</span></a>
</li>
      		</ol>
      	</div>
		
</div>

<script type="text/javascript">$render("most-popular","most-popular");</script>

	       	     </div>
	
		
	
			




  <!-- Empty hyperpuff -->

		
	 	
		
			




  <!-- Empty hyperpuff -->

		
	 	
		
</div>

	<!-- END #MAIN-CONTENT & CPS_ASSET_TYPE CLASS: story -->
	</div>
<!-- END CPS_AUDIENCE CLASS: domestic -->
								
								
								
								
								
								
								
								
								
								
								
								
								
								

