.ellipsis {
	display: block;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.kl-generic {
	clear: both;
	position: relative;
	overflow: hidden;
	width: 320px;
	margin: 0 0 16px;
	padding: 8px 8px 8px;
	background: #EDEDED;
}
.kl-generic ul.kl-generic-main h3 {
	margin:  10px 0 0 0;
	font-size: 1.3em;
}
.kl-generic ul.kl-generic-main h3.people-header img {
	float: left;
	margin-right: 10px;
}
.kl-generic ul.kl-generic-main h3.people-header span.people-name {
	color: #1F4F82;
	float: left;
}
.kl-generic ul.kl-generic-main p.people-description {
	clear: both;
	padding-top: 5px;
	margin-bottom: 5px;
}
.kl-generic .panel {
	position: relative;
	overflow: hidden;
	width: 320px;
	background: white;
}
.kl-generic .panel li {
	clear: both;
	display: block;
	overflow: hidden;
	border-top: 1px solid #EEE;
	position: relative;
	zoom: 1;
}
.kl-generic .panel li:first-child {
	border-top: none;
}
.kl-generic .panel li a {
	position: relative;
	overflow: visible;
	float: left;
	display: inline;
	width: 283px;
	padding: 11px 29px 12px 8px;
}
.kl-generic .panel li:first-child a {
	padding-top: 12px;
}
.kl-generic span.kl-article-description {
	font-weight: normal;
}


