a, a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0.25em;
}
figcaption {
	position: absolute;
    left: -9999px;
}
.blq-hide {
  position: absolute;
  left: -9999px;
}
#global-header, #events-header, #footer-content {
  max-width: 976px;
  margin: 0 auto;
}

/* Page header */
header.banner{
  background-color: #cd0102;
}
#global-header {
  padding: 0.5em;
  background-color: #520000;
}
#global-header img {
  display: block;
}
#events-header {
  color: #fff;
  font-family: "Gill Sans";
  text-transform: uppercase;
}
#events-header a {
  color: #fff;
  font-size: 4em;
}
#events-header .location {
  font-size: 2em;
  margin-left: 0.5em;
}

/* Page layout */
.container {
  overflow: hidden;
  max-width: 976px;
  margin: 0 auto;
}
section {
  overflow: hidden;
}

/* Footer */
footer {
  color: #fff;
  background-color: #666;
}
#footer-content {
  padding: 1em 0;
}
#footer-content p {
  margin: 0;
}

/* Tabs */
.tabs {
  position: relative;
  clear: both;
  display: block;
  overflow: hidden;
}
.tabs ul {
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 0 8px 0 4px;
}
.tabs li {
  display: inline;
  float: left;
  margin:2px 2px 0px 0px;
  padding:10px;
  background-color: lightgrey;
}
.tabs li a {
  color:black;
}
.tabs li.open{
  background-color:white;   
}
.solid{
  background-color: darkgrey;
}
#tab-wrapper{
  padding-top: 20px;
}
.slider{
  background-color: lightBlue;
}

/* Events */
html {
	font-size: 10px;
}
body {
	font-family: Arial,Verdana,Geneva,Helvetica,Sans-Serif;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;	
}
div#news-lab-events {
	font-size: 1.8rem;
}
div#news-lab-events h1{
	font-size: 4.8rem;
	font-weight: 800;
}
div#news-lab-events h2{
	/*font-size: 4.8rem;*/
	font-weight: 800;
}
div#news-lab-events nav.breadcrumb {
    font-size: inherit;
    width: 15%;
    margin: 6px 0 6px 4px;    
}
div#news-lab-events nav.breadcrumb a {
	display: block;
	position: relative;
	color: #505050;	
	background-color: #dcdcdc;
	padding: 6px;
	height: 20px;
}
div#news-lab-events nav.breadcrumb a:after {
	position: absolute;
	top: 0;
	left: 100%;	
	content: ' ';
	width: 0;
	height: 0;		
	border: 16px solid transparent;
	border-left-color: #dcdcdc;
}
div#news-lab-events section {
	font-size: inherit;
	color: #505050;
	margin-bottom: 4px;
}
div#news-lab-events section.intro header{
	position: absolute;
    left: -9999px;
}
div#news-lab-events section.places {	
    border-top-style: solid;
	border-top-width: 3px;   
    border-top-color: #fdb515;
}
div#news-lab-events section.people, div#news-lab-events section.timeline {
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #759b75;
}
div#news-lab-events section.articles {
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #cc0000;
}
div#news-lab-events section header.section h2 {
	background-color: #dcdcdc;
	padding: 13px 0 11px 11px;
	position: relative;
}
/*
div#news-lab-events section header h2:after {
	position: absolute;
	top: 20px;
	left: 90%;	
	content: ' ';
	width: 0;
	height: 0;	
	border: 19px solid transparent;
}
*/
div#news-lab-events section header.section h2 a {
	color: #505050;
}
div#news-lab-events section.open header h2:after {	
	/* Show arrow pointing down*/
	/*border-top-color: #505050;*/	
}
div#news-lab-events section.closed header h2:after {	
	/* Show arrow pointing up*/
	/*border-bottom-color: #505050;*/	
}
div#news-lab-events section.people li {
	background-color: #f0f0f0;
	margin-bottom: 5px;
}
div#news-lab-events section.articles li a {
	display: block;
	font-size: 1.4rem;
	font-weight: 700;
	color: #156292;
	background-color: #f0f0f0;	
	margin-bottom: 1px;
	padding: 16px 0 11px 7px;
}

/* Polymap */
svg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 70%; 
    background: transparent;
}
.compass .back {
  fill: #eee;
  fill-opacity: .8;
}
.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}
.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.compass .direction {
  fill: none;
}
.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}
.compass .zoom .chevron {
  stroke-width: 4px;
}
.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}
.compass.active .active .direction {
  fill: #999;
}
.tweet-container,
text {       
  fill: white;
  font-family: arial, sans-serif;
  text-shadow: 1px 1px 1px #000; 
  font: 18px/1.5 sans-serif;
}
circle {
  fill: red;
}